
@import 'utils';

.editor-header {
    background: $oc-teal-3;
    display: flex;
    align-items: center;
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;


    .submit {
        margin-left: auto;
    }
}