
@import 'utils';

.button {
    color: white;
    font-weight: 600;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    cursor: pointer;
    user-select: none;
    display: inline-flex;

    background: $oc-teal-3;
    &.outline {
        background: $oc-teal-4;
        
        border: 3px solid white;
        border-radius: 2px;

        &:hover {
            background: $oc-teal-5;
        }
        &:active {
            background: $oc-teal-6;
        }

    }

    &.gray {
        background: $oc-gray-7;

        border: 2px solid white;
        border-radius: 2px;

        font-size: 0.5rem;
        &:hover {
            background: $oc-gray-8;
        }
        &:active {
            background: $oc-gray-9;
        }
    }

    &.cancel {
        background: $oc-gray-7;

        border: 2px solid white;
        border-radius: 2px;

        // font-size: 0.5rem;
        &:hover {
            background: $oc-gray-8;
        }
        &:active {
            background: $oc-gray-9;
        }
    }

    &.delete {
        background: $oc-red-7;

        border: 2px solid white;
        border-radius: 2px;

        // font-size: 0.5rem;
        &:hover {
            background: $oc-gray-8;
        }
        &:active {
            background: $oc-gray-9;
        }
    }

    &.disabled {
        background: $oc-gray-3;
        color: $oc-gray-6;
        &:hover, &:active {
            box-shadow: none;
            background: $oc-gray-3;
        }
    }

    &:hover {
        @include material-shadow(2, 0.5); // 마우스 호버시 그림자 생성
      }
      
    & + & {
        margin-left: 0.5rem;
    }
}